.titulo {
    color: rgb(31, 82, 133);
    font-size: x-large;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 10px #4da2b3;
}

.form-login{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.texto.login {
    color: rgb(190,205, 0);
    font-size: larger;
}
